* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.contain{
    position: relative;
    width: 100%;
    height: 100vh;
}
.contain1{
    background-color: salmon;
}
.contain2{
    background-color: rgb(97, 194, 58);
}
.contain3{
    background-color: rgb(114, 177, 250);
}
/*pulsanti*/
.pulsanti{
    position: fixed;
    z-index: 15;
    right: 1rem;
    top: 1rem; 
}
.cerchio a{
    text-decoration: none;
}
.cerchio{
    
    float: left;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin: 1rem;
    background-color: white;
    border-radius: 50%;  
}

/*contenitore*/

/*immagine*/    
.contenitore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*testo*/
.testo{
    color: yellow;
    text-align: center  ;    
    
}